*.iml
.gradle
/.idea/
/.vs/
/local.properties
/.idea/workspace.xml
/.idea/dictionaries/
/.idea/libraries
/.idea/codeStyles/Project.xml
/.idea/caches
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/icons
*.zip
*.pxd
keystore.properties
app/google-services.json