<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abe.jason.rateme"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="RateMe"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.abe.jason.rateme.activity.Introduction"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.abe.jason.rateme.activity.LoginActivity"
            android:icon="@drawable/icon"
            android:label="RateMe"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.abe.jason.rateme.activity.MainActivity"
            android:label="Main Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".activity.FaceTrackerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Track a Face"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>